DB_DRIVER=psycopg
DB_ENGINE=postgresql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@typecrafters.org

S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_SECURE=false

FRONTEND_URL=http://localhost:3000
