DB_DRIVER=psycopg
DB_ENGINE=postgresql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@typecrafters.org

FRONTEND_URL=http://localhost:3000
